.latepoint-w .os-form-group.os-form-textfield-group label[for="booking_custom_fields_cf_qoqkhbly"] {
    opacity: 1;
    position: unset !important;
    font-size: 14px !important;
}
.latepoint-summary-w .mbc-image { padding-right: 20px; }
