.latepoint-w .os-form-group.os-form-textfield-group label[for="booking_custom_fields_cf_qoqkhbly"],
.latepoint-w .os-form-group.os-form-textfield-group label[for="booking_custom_fields_cf_sit7zefo"],
.latepoint-w .os-form-group.os-form-textfield-group label[for="booking_custom_fields_cf_wzbhg9eb"],
.latepoint-w .os-form-group.os-form-textfield-group label[for="booking_custom_fields_cf_pnwpruie"],
.latepoint-w .os-form-group.os-form-textfield-group label[for="booking_custom_fields_cf_w0izrltg"],
.latepoint-w .os-form-group.os-form-textfield-group label[for="booking_custom_fields_cf_p56xpuo5"],
.latepoint-w .os-form-group.os-form-textfield-group label[for="booking_custom_fields_cf_vin78day"] {
    opacity: 1;
    position: unset !important;
    font-size: 14px !important;
}

.latepoint-summary-w .mbc-image,
.latepoint-summary-w .fabricland-image,
.latepoint-summary-w .sb-image {
    padding-right: 20px;
}
.os-col-12 > div:has(> #booking_custom_fields_cf_dq70wnrg) {
    display: none;
}